@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

@font-face {
  font-family: "Brusher";
  src: url(../fonts/brusher.otf) format("opentype");
}

body {
	font-size: 2em;
	margin: 0 auto;
	color: #29264e;
	width: 50%;
}

@media (max-device-width: 768px) {
  body {
  	width: 90%;
  }
}

@media (max-width: 768px) {
  body {
  	width: 90%;
  }
}

h1 { 
	font-family: "Brusher", sans-serif;
	text-align: center;
}

h2, p {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
}

.contact a {
	font-family: "Brusher", sans-serif;
	color: #29264e;
	text-decoration: none;
	display: block;
	margin-bottom: 10px;
}