@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

@font-face {
  font-family: "Brusher";
  src: url(../fonts/brusher.otf) format("opentype");
}

@media (min-width: 767px) {
	body {
		width: 50%;
	}
}

body {
	font-size: 2em;
	margin: 0 auto;
	color: #29264e;
	padding: 0 5%;
}

h1 { 
	font-family: "Brusher", sans-serif;
	text-align: center;
}

h2, p {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
}

.contact a {
	font-family: "Brusher", sans-serif;
	color: #29264e;
	text-decoration: none;
	display: block;
	margin-bottom: 10px;
}